@forward "color-palette-generator";
@forward "color";
@forward "list";
@forward "header";
@forward "menu";
@forward "section";
@forward "mixins";

:root {
  --header-height: 100px;
  --footer-height: 32px;
  --content-height: calc(100vh - var(--header-height) - var(--footer-height));
  --left-side-panel-menu-width: 7em;

  --font-family-body: Arial, Helvetica;
}

body {
  font-family: var(--font-family-body), sans-serif;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05em;
  overflow: hidden;
}

.page-content {
  scroll-behavior: smooth;
  padding: 1rem;
}

hr {
  width: 80%;
  margin-bottom: 20px;
}
