@mixin mix-page-base {
  letter-spacing: 0.05em;
  line-height: 1.5em;
  max-height: var(--content-height);
  overflow-y: auto;
}

@mixin mix-page-content {
  padding: 0.01em 1em;
  font-size: 12pt;
  @include mix-page-base;
}

@mixin mix-box-shadow {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}
